@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #050505;
    overflow: hidden;
    color: white;
    font-family: 'Inter', sans-serif;
}

.range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    outline: none;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #22d3ee;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}

.range-slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

/* Scrollbar hidden for cleanest UI */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
